/* Se crea la separacion entre la barra de navegacion y las tarjetas
   de los productos */
main > .container {
    padding: 30px 0;
}

.color1{
    background-color: rgb(173, 128, 216);
}
.color2{
    background-color: rgb(128, 210, 216);
}